@import './variables';
html {
    box-sizing: border-box;
}

body,
div,
span,
header,
footer,
nav,
section,
aside,
article,
ul,
dl,
dt,
dd,
li,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
i,
b,
textarea,
button,
input,
select,
figure,
figcaption {
    padding: 0;
    margin: 0;
    list-style: none;
    font-style: normal;
    text-decoration: none;
    border: none;
    color: #333;
    font-weight: normal;
    font-family: "Microsoft Yahei";
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    &:hover {
        outline: none;
    }
}


/*
定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸
*/

::-webkit-scrollbar {
    width: 10px;
    height: 20px;
    background-color: #F5F5F5;
}


/*
定义滚动条轨道 内阴影+圆角
*/

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(255, 255, 255, 0);
    border-radius: 20px;
    background-color: #F5F5F5;
}


/*
定义滑块 内阴影+圆角
*/

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    -webkit-box-shadow: inset 0 0 6px rgba(141, 136, 136, 0.3);
    /*
	滚动条滑块颜色
	*/
    background-color: #e8e6e3;
}

input[type="button"],
input[type="submit"],
input[type="search"],
input[type="reset"] {
    -webkit-appearance: none;
}

textarea {
    -webkit-appearance: none;
}

//定义盒子模型
*,
*:before,
*:after {
    box-sizing: inherit;
}

a:focus,
a:active {
    outline: none;
}

a,
a:focus,
a:hover {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

div:focus {
    outline: none;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: $baseBgColor;
}

.clear:after {
    content: '';
    display: block;
    clear: both;
}

.clear {
    zoom: 1;
}

.back_img {
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.margin {
    margin: 0 auto;
}

.margintop30 {
    margin-top: 30px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.ishide {
    display: none;
}

.isshow {
    display: block;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cursorpointer {
    cursor: pointer;
}

// 表格中有跳转的颜色
.declare_a{
	color:#36a3f7;
	cursor: pointer;
	&:hover{
		color:$baseColor;
	}
}

// 债权的标题
.title_square{
	width: 70px;
    height: 70px;
    background-color: #36A3F7;
    text-align: center;
    border-radius: 2px
}
@keyframes backOpacity {
    0% {
        opacity: 1
    }
    25% {
        opacity: .5
    }
    50% {
        opacity: 1
    }
    75% {
        opacity: .5
    }
    100% {
        opacity: 1
    }
}

.animation_opactiy {
    animation: backOpacity 2s ease-in-out infinite;
}

// 过度动效

/* .home_move-enter-active{
	opacity: 0;
}
.home_move-enter-leave{
	opacity: 0.8;
}

.home_move-enter-active {
	animation: bounce-in .5s;
}
.home_move-leave-active {
	animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
	0% {
		transform: scale(0);
	}
	50% {
		transform: scale(1.5);
	}
	100% {
		transform: scale(1);
	}
} */


