//颜色变量定义于此处

//UI基准色
$baseColor:#f19200;
//基准背景色
$baseBgColor:#f4f5f7;
//标准成功颜色
$successColor: #31BC5F;
//标准警告颜色
$warningColor: #F1A12D;
//标准错误颜色
$dangerColor: #F05C59;
//蓝色
$baseBlue:#35A3F9;
//浅蓝色
$sickBlue:#59B2F7;
